*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

body{
  background-color: #000a16;
  overflow: hidden;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0066ffb0 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0066ffb0;
    border:0px solid;
    border-radius: 10px;
  }

/* Css Animations */
@keyframes slideIn {
  0% {
    transform: translateY(35px);
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.App {
  text-align: center;
  color:white;
}

.madewl{
  color: #616161;
  font-size: 12px;
}

.App-logo {
  height: 160px;
  pointer-events: none;
}

.App-Auth {
  display: flex;
  min-height: calc(100vh - 40px);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 24px;
  color: white;
}

button{
  cursor:pointer;
}

button:focus {outline:0;}

.AuthButtons{
  display: flex;
  flex-direction: column;
}

.AuthButtons button{
  margin-bottom: 20px;
  padding: 2vmin 12vmin;
  border:0px solid;
  border-radius: 8px;
  color:white;
  font-size: 14px;
  font-weight: bold;
}

.primaryColor{ background-color: #007aff;}
.primaryColor:hover{ background-color: #1f89fa;}
.primaryColor:active{ background-color: #0367d3;}
.secondaryColor{ background-color: #0c0c0c;}
.secondaryColor:hover{ background-color: #131313;}
.secondaryColor:active{ background-color: #000;}

.Online{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,255,0);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,255,0);
  box-shadow: 0px 0px 5px 0px rgba(0,255,0);
}

.Offline{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(134, 134, 134);
  -moz-box-shadow: 0px 0px 5px 0px rgba(134, 134, 134);
  box-shadow: 0px 0px 5px 0px rgba(134, 134, 134);
}

.cycloButton{
  display: block;
  padding: 4px 20px;
  border:0px solid;
  border-radius: 5px;
  color:white;
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

.page {
  position: absolute;
  height: 100%;
  left: 0px;
  right: 0px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

*:focus{outline: none;}

.inputplace{
  width: 50vw;
  max-width: 300px;
}

.inputplace input{
  width: 100%;
  background-color: rgb(14, 22, 37);
  color:white;
  border:0px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 15px 10px 40px;
  font-size: 16px;
  transition: all 1s;
}

.inputplace input:focus{
  -webkit-box-shadow: 0px 0px 10px 1px #0066ff;
  -moz-box-shadow: 0px 0px 10px 1px #0064ff;
  box-shadow: 0px 0px 10px 1px #0064ff;
}

.inputplace button{
  max-width: 150px;
  margin-bottom: 20px;
  padding: 8px 16px;
  border:0px solid;
  border-radius: 8px;
  color:white;
  font-size: 14px;
  font-weight: bold;
}

.inputfield{
  padding: 0;
  display: flex;
  animation: slideIn 1s;
}

.inputfield button{
  flex: 1;
}

svg{
  margin: 5px;
}

.inputfield svg{
  position: absolute;
  margin: 10px 10px;
}

.modal-container{
  background: rgba( 0, 18, 41, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.25 );

  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 10vw;
  color: white;
  z-index: 25;
}