.App-Home{
    background: radial-gradient(ellipse at bottom, #001229 0%, #000 100%);
    color:white;
    display: flex;
    height: 100vh;
}

.App-H-Logo{
    width: 48px;
    height: 48px;
    padding: 10px;
    border:0px solid;
    border-radius: 16px;
    cursor:pointer;
    transition: all 0.5s ease;
}

.App-H-Logo:hover{
    background: #001B3D;
}

.Navigator{
    display: flex;
    min-width: 72px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #0012297c;
    border-right: 2px solid #001B3D;
}

.NaviButton{
    border:0px solid;
    border-radius: 16px;
    background: transparent;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.NaviActive{
    width: 56px;
    height: 56px;
    background: #001B3D;
}

.NaviButton:hover{
    background: #001B3D;
}

.ChannelContainer{
    padding: 16px 20px;
    background: #0012297c;
    border-right: 2px solid #001B3D;
}

.Channels{
    padding: 0;
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.Channels li{
    display: flex;
    align-items: center;
    background: #0012297c;
    padding: 0px;
    border:0px solid;
    border-radius: 8px;
    margin-bottom: 10px;
    list-style:none;
    text-decoration: none;
    cursor:pointer;
    font-size: 14px;
}

.Channels img{
    margin-right: 5px;
}

.ChatContainer{
    flex:1;
    display: flex;
    flex-direction: column;
}

.ChatHeader{
    padding: 10px 20px;
    background: #0012297c;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #001B3D;
}

.Chat{
    flex: 1;
    overflow-y: scroll;
}

.ChatInput{
    background: #0012297c;
    border-bottom: 2px solid #001B3D;
    border-radius: 8px;
    margin: 10px;
    display: flex;
}

.ChatInput input{
    flex: 1;
    background: transparent;
    border:0px solid;
    padding: 10px 20px;
    color:white;
}

.UserPP img{
    padding: 5px;
    margin-right: 10px;
    border:0px solid;
    background: #001B3D;
    border-radius: 16px;
}

.UserDetails{
    color:white;
}

.descGray{
    color:rgb(134, 134, 134);
}

.SendButton{
    padding: 5px 15px;
    margin:5px 10px;
    border:0px solid;
    border-radius: 5px;
    color:white;
    font-size: 14px;
}

.MessageContainer{
    display: flex;
    padding: 5px 10px;
}

.MessagerPP img{
    width: 48px;
    padding: 2px;
    margin: 10px;
    border:0px solid;
    background: #001B3D;
    border-radius: 16px;
}

.MessageBox{
    background: #0012297c;
    border: 0px solid #001B3D;
    border-radius: 8px;
    padding: 5px 20px;
    flex: 1;
}

.PageContainer{
    flex:1;
    display: flex;
    flex-direction: column;
}

.PageHeader{
    padding: 10px 20px;
    background: #0012297c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #001B3D;
}

.Page{
    flex: 1;
    border:0px solid;
    overflow-y: scroll;
}