.App-Home{
    background: radial-gradient(ellipse at bottom, #001229 0%, #000000 100%);
    color:white;
    display: flex;
    height: 100%;
}
.App-H-Logo{
    width: 56px;
    background: #001B3D;
    padding: 10px;
    border:0px solid;
    border-radius: 16px;
}
.Navigator{
    padding: 10px;
    background: #0012297c;
    border-right: 2px solid #001B3D;
}
.ChannelContainer{
    padding: 16px 30px;
    background: #0012297c;
    border-right: 2px solid #001B3D;
}
.ChatContainer{
    flex:1;
}
.ChatHeader{
    padding: 10px 20px;
    background: #0012297c;
    display: flex;
    border-bottom: 2px solid #001B3D;
}
.UserPP img{
    padding: 5px;
    margin-right: 10px;
    border:0px solid;
    background: #001B3D;
    border-radius: 16px;
}
.UserDetails{
    color:white;
}
.UserDetails p{
    color:rgb(134, 134, 134);
}