.settingsPlace{
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

.satirfield{
    display: flex;
    flex-direction: row;
}

.satirfield .setfield{
    flex: 1;
}

.setfield input{
    width: 100%;
    background-color: rgb(14, 22, 37);
    color:white;
    border:2px solid rgb(21, 32, 54);
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 16px;
    transition: all 1s;
}
  
.setfield input:focus{
    -webkit-box-shadow: 0px 0px 10px 1px #0066ff;
    -moz-box-shadow: 0px 0px 10px 1px #0064ff;
    box-shadow: 0px 0px 10px 1px #0064ff;
}
  
.setfield button{
    max-width: 150px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border:0px solid;
    border-radius: 8px;
    color:white;
    font-size: 14px;
    font-weight: bold;
}
  
.setfield{
    padding: 0;
    display: flex;
    flex-direction: column;
    animation: slideInSoft 0.5s backwards;
}
  
.setfield button{
    flex: 1;
}
  
.setfield svg{
    position: absolute;
    margin: 10px 10px;
}